.react-resizable-handle {
    position: absolute;
    bottom: 3px;
    right: 3px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}

.windows {
    position: relative;
}
.window_content {
    height: calc(100% - 24px);
}
.window_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
}

.window_active {
    z-index: 1;
}

.fullscreen {
    position: absolute !important;
    transform: translate(0, 0) !important;
    width: 100vw !important;
    height: 100vh !important;
    transition: all 0.3s ease;
}

.decorator {
    height: 20px;
    background: linear-gradient(45deg, #158fbb, rgba(3, 86, 101, 0.95));
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    span.title {
        margin-right: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: calc(100% - 50px);
        overflow: hidden;
    }
    .decorator_toggle {
        width: 15px;
        height: 15px;
        display: block;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
        &:before {
            content: "";
            position: absolute;
            border: 2px solid white;
            width: 11px;
            height: 11px;
            bottom: 0;
            left: 0;
        }
    }
    .decorator_close {
        width: 15px;
        height: 15px;
        display: block;
        cursor: pointer;
        position: relative;
        &:before {
            content: "";
            background: white;
            position: absolute;
            width: 2px;
            height: 125%;
            bottom: 0;
            left: 0;
            transform-origin: bottom center;
            transform: rotate(45deg);
        }
        &:after {
            content: "";
            background: white;
            position: absolute;
            width: 2px;
            height: 125%;
            bottom: 0;
            right: 0;
            transform-origin: bottom center;
            transform: rotate(-45deg);
        }
    }
}
